/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient(0deg, #152a4b, #485d7e, #76869e, #779eb0, #3e7c92, #305d72, #8a3c2f, #b8503f, #e6644f);
    background-size: 1800% 1800%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    -o-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

  